*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.container_primer{
    background: linear-gradient(rgb(21, 44, 105),rgb(53, 88, 134));  
    width: 1600px;
    margin: auto;
}

.navone {
    height: 80px;
    background-color: #dbdada;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.barraone{
   justify-content: space-between;
   align-items: center;
   

}
#barra{
    height: 30px;
    width: 400px;
   

}
.botonone{
    background-color:rgba(36, 36, 185, 0.836);
    color: white;
    height: 30px;
    width: 120px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px ;
    font-size:medium;
    
}
.lista_one{
  padding: 20px;  
}
.barra_lista{
    list-style-type:none;
    display: flex;
    align-items: center;
    width: 120%;
    justify-content: space-between;
    position: relative;
    right: 20%;
    font-size:large;
    color:rgb(117, 117, 117) ;
    
}
.fila_one{

    padding: 10px;
    display: flex;
    
}

.titulo_one{
    background: linear-gradient(rgb(21, 44, 105),rgb(53, 88, 134));  
    color: white;
    padding: 20px;
}
.columna_one{
   margin: 20px ;
}
.container_one{
    margin: 20px ;
    border: white solid 2px  ;  
}
.formulario{
    padding: 20px;
}
.tex_five{
   color: rgb(26, 78, 138); 
   margin: 10px;
}
.tex_four{
    margin: 10px;
}
.formulario{
    background-color: #fdf9f9c7;
}
.formu{
    margin-left: 10px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border-color: white;
}
.cuadro_one{
    background: linear-gradient(rgb(21, 44, 105),rgb(53, 88, 134));
    color: white;
    margin: 20px;
    padding: 10px;
    width: 85%;
    outline: solid 2px white;
}
.img_one{

    position: relative;
    top: 15%;
    height: 30px;
}
.img_two{
    width: 90%;
    height: 100%;
}
.btn_one{
    height: 40px;
    width: 110px;
    color: white;
    background: linear-gradient(rgb(63, 63, 63),rgb(80, 79, 79), rgb(194, 194, 194));
    font-size: larger;
    margin: 10px;
    border-radius: 10px;
}
.register{
    font-size: larger;
}
.imgs{
    background: linear-gradient(rgb(59, 90, 224),rgb(25, 62, 143), rgb(3, 13, 48));
    position: relative;
    bottom: 10px;
    width: 1100px;
    
}
.fila_two{
    display: flex;  
    background-color: rgba(56, 91, 167, 0.767);
    justify-content: space-between;
}
.container_two{
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    background-color: #dfdfdf;
    padding: 10px;
    
}

.text_six{
    margin-left: 1em;
    color: rgb(0, 0, 0);
    position: relative;
    left: 5px;
    font-size: 1.2em;
    font-weight: 900;
}
.text_seven{
    margin-left: 1em;
    color: rgb(26, 78, 138);
    position: relative;
    left: 5px;
    font-size: 1.2em;
    font-weight: 900;
    
}
.container_three{
    display: flex;
    padding: 20px;
}
.cuadro_two{
    display: flex;
    padding: 20px;
    background-color: #fdf9f9c7;
    margin: 10px;
}
.cuadro_three{
    display: flex;
    padding: 20px;
    background-color: #fdf9f9c7;
    margin: 10px;
}
.cuadro_four{
    display: flex;
    padding: 20px;
    background-color: #fdf9f9c7;
    margin: 10px;
}
.imgs_one{

    margin-right: 10px;
}
p{
    color: rgb(42, 82, 155);
    letter-spacing: 2px;
}
.fila_three{
    background-color: #dfdfdf;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.cuadro_seven{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.april{
    color:rgb(54, 54, 54) ;
}

.negrita{
    color: #3f3f3f;
}
.verde{
    color: rgb(103, 194, 13);
}
.barra_two{
    list-style-type:none;
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size:larger;
    color:rgb(51, 51, 51) ; 
}

span{
    margin-left: 10px;
    margin-right: 10px;
}