* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.nav {
    height: 60px;
    background-color: rgb(122, 186, 238);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-title {
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    list-style: none;
    color: aliceblue;

}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin: 0px 20px;

}

.text {
    margin: 20px 20px;

}

.cuadro {
    justify-content: center;
    align-items: center;
    margin: 20px 150px;
    background-color: rgba(177, 177, 177, 0.61);
    text-align: center;
}

.imgs {
    border-radius: 50%;
    height: 150px;
    padding: 50px;
}

.text1 {
    margin: 15px;
    padding: 25px;
}

.rojo {
    color: red;
}

.azul {
    color: blue;
}

.temperatura {
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.fila{
    margin: 20px 40px;
}

.fila1 {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
    justify-content: center;
   
}

.fila2 {
    margin: 20px 40px;
    display: flex;
    justify-content: center;
}

.container2 {
    display: flex;
    justify-content: space-around;
    outline: solid 1px black;

}
.galleta{
    justify-items: center;
    margin: 40px 20px;
}

.btn {
    background-color: rgb(81, 200, 230);
    color: white;
    height: 60px;
    width: 200px;
    box-shadow: 3px 3px rgb(0, 0, 0);
    font-size: larger;
    margin-top: 60px;
    margin-right: 200px;


}
