* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.nav {
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-title {
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    list-style: none;
    color: aliceblue;
    font-family: sans-serif;
}

.active {
    color: rgb(0, 0, 0);
}

.btn {
    background-color: rgb(103, 165, 216);
    color: white;
    height: 50px;
    width: 100px;
    font-family: sans-serif;
}


.container {
    margin: 20px;
    padding: 0px;
    align-items: center;
    outline: 2px solid black;
}

.row {
    display: flex;
}

.col {
    background-color: aquamarine;
    flex: 3;
    margin: 10px;
    padding: 20px;
    height: 50px;
}

.img {
    margin-top: 30px;

}

.text {
    padding: 25px;
    font-family: sans-serif;
}

.card {
    display: flex;
}

.text-1 {
    margin: 15px;
}


.container1 {
    margin: 20px;
    padding: 0px;
    outline: solid black 2px;
    
}

.justifi-contect-flex-space-around {
    justify-content: space-between;
}

.color-back-and-white {
    background-color: black;
    color: white;
    align-items: center;
}

.display-flex-justifi-conte {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.imgs1 {
    height: 25px;
    margin-left: 10px;
    margin-right: 0px;
}

.imgs {
    height: 25px;
    margin-left: 10px;

}

.btn2 {
    background-color: gray;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
}
.display-flex-justify-contec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.justify-contec-flex-space-aroumd {
    justify-content: space-between;
}
.container2{
    
    margin: 20px;
    padding: 0px;
    align-items: center;
    outline: 2px solid black; 
}
.justify-contec-flex-space-around{
margin: 10px;
}
.col1{
   margin: 10px; 
}
.container3{
    
    margin: 20px;
    padding: 0px;
    outline: solid black 2px;
      
}





.filas{
display: flex;
justify-content: center;
}

.columna1{
    flex : 1
    }
.columna2{
        flex : 3
        }

