*{
    padding: 0px;
    margin: 0px;
   justify-content: center;
   font-family: serif;
}
body{
    background-color: rgb(245, 245, 245);
    margin-left:1em ;
    margin-right:1em ;
    
}
.container_principal{
    width: 1000px;
    margin: auto;
    
}
.barranav{
    background-color: rgb(245, 245, 245);
    display: flex;
    height: 70px;
    justify-content: space-between;
    
}
.logo{
    display: flex;
}
.img_one{
    height: 45px;
    margin-top: 15px;
    margin-right: 10px;
}
.tex1{
   position: relative;
   top: 20px;
   color: rgb(146, 146, 146);
   font-weight:lighter;
}
#barra{
    height: 25px;
    width: 280px;
    margin-top: 25px;
    border-color: darkgray;
    border-radius: 20px;
}
.container_one{
    display: flex;
    margin-top: 30px;
}

.t1:hover{
    color:rgb(5, 5, 7);
    color: red;
}
.t2{
    color: red;
    margin-top: 10px;
}
.texto{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
h6{
   margin-left: 25px;
}
.margin-top{
    margin-top: 15px;
}
.c2{
    background-color: rgb(240, 240, 240);
    width: 80%;
    margin-top: 60px;
    padding: 10px;
    
}
a{
    text-decoration: none;
    color: rgb(28, 110, 192);
}
.a1{
    text-decoration: none;
    color: rgb(28, 110, 192);
    font-weight: bolder; 
    font-size:large;
}

.fila_one{
    background-color: white;
    width: 300%;
    border-radius: 5px;
}

.img_four{
    height: 230px;
    margin-left: 0px;
}
.c4{
   background-color: rgb(228, 228, 228);
   padding: 10px;
   height: 100px;
   width: 50%;
   margin-top: 30px;
   margin-right: 20px;
   margin-left: 20px;
   border-radius: 5px;
}
.cuadro_one{
    margin-top: 10px;
}

.a3{
    text-decoration: none;
    position: relative;
    bottom: 15px;
    font-weight: bolder;
}
.img_two{
    margin-left: 35px;
}
.cont_one{
    display: flex;
}

.imgs_one{
    margin-right: 50px;
}
.texto2{
    width: 50%;
    margin-left: 20px;
    position: relative;
    bottom: 50px;
}
.t3{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: lighter;
}
.container_three{
    display: flex;
    background-color: rgb(228, 228, 228);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
   
}
.c6{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.flecha{
    height: 15px;
    position: relative;
    top: 3px;
}
.txt1{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.container_four{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.a4{
    color: rgb(235, 69, 69);
    margin-top: 20px;
    margin-left: 10px;
    font-family:monospace;
    letter-spacing: 1px;
    font-size: large;
    outline: solid 1px rgba(128, 128, 128, 0.288);
    
}
.fila_two{
    background-color: rgb(240, 240, 240);
    justify-content: space-between;
    margin-top: 30px;
   
}
.container_five{
    display: flex;
    padding: 10px;
    justify-content: flex-start;
}
.tx4{
    color: rgb(150, 148, 148);
}
.container_six{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    position: relative;
    bottom: 40px;
}
.tx5{
    margin-left: 5px;
}
span{
    font-weight: bolder;
}


